@font-face {
  font-family: "Asomy";
  font-style: normal;
  font-weight: 400;
  src: url(arfonts-dg-3asomy-thin.ttf) format("truetype");
  font-display: swap;
}

body {
  font-family: "Asomy", sans-serif;
  text-align: center;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 400;
}
